<div class="footer">
    <div class="row">
        <div class="col-lg-8 two_third">
            <div class="row">
                <p class="title">
                    THE MUSEUM
                </p>
                <p class="address">
                    Via Sant'Ottavio, 44 - 10126 Torino
                </p>

                <div class="col-lg-6 first-column">

                    <div class="row partner">
                        <div class="col-lg-6 col-xs-6">
                            <img class="img-fluid" src="../../assets/images/fiat-logo.png">
                        </div>
                        <div style="margin-top: 1vw;" class="col-lg-6 col-xs-6">
                            MAIN PARTNER
                        </div>

                    </div>
                    <div class="d-flex social">
                        <span><i class="fa fa-facebook-square"></i></span>
                        <span><i class="fa fa-twitter-square"></i></span>
                        <span><i class="fa fa-youtube"></i></span>
                        <span><i class="fa fa-pinterest-square"></i></span>
                        <span><i class="fa fa-instagram"></i></span>
                    </div>
                </div>

                <div class="col-lg-6 first-column">
                    <p>STAMPA</p>
                    <p>STATUTO E CODICE ETICO</p>
                    <p>PRIVACY</p>
                    <div>
                        <div class="mrg-up">
                            <span class="mrg"><i class="fa fa-phone"></i></span> <span>011.0062713</span>
                        </div>
                        <div>
                            <span class="mrg"><i class="fa fa-envelope"></i></span> <span>info@themuseum.it</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="column-right col-lg-4">
            Resta sempre aggiornato su mostre, workshop ed eventi
            <input placeholder="email">
            <div class="d-flex py-3">
                <input type="radio">
                <div class="terms">Accetto i termini e condizioni</div>
            </div>
            <div class="newsletter">
                <span>ISCRIVITI ALLA NEWSLETTER</span><span class="arrow"><i class="fa fa-arrow-right"></i></span>
            </div>

        </div>
    </div>

</div>
<div class="bottom-footer">
    <div class="row">
        <div class="col-lg-6">2020 THE MUSEUM</div>
        <div class="col-lg-6 tr">Publicis Sapient</div>
    </div>
</div>