<div class="popup-div">
        <div class="d-flex">
        <div class="title-div">
            <h1>{{activeItem?.title}}</h1>
        </div>
        <div class="x-style">
            <div (click)="onClick()">X</div>
        </div>
        </div>
        <div class="description-div">{{activeItem?.description}}</div>
        <div #myDiv id ="slider">
            <div *ngFor="let image of activeItem?.gallery">
                <div class="gallery">
                   <img class="img-fluid" #img [src]="image" alt="image" >
                </div>
            </div>
        </div>
        <div style="display: flex;">
            <div (click)="show(index)" *ngFor="let image of activeItem?.gallery; let index = index">
                <i class="fa fa-circle"></i>
            </div>
        </div>

        <!-- <div class="d-flex">
            <div *ngFor="let image of activeItem?.gallery">
                <img class="img-fluid" [src]="image">
            </div>
        </div> -->
    
    
</div>